<app-form-field (click)="trigger.openPanel()">
  <app-chips #chipListComp [selection]="selection">
    <input
      #fruitInput
      matInput
      [formControl]="control"
      [matAutocomplete]="autoComp.auto"
      [matChipInputFor]="chipListComp.chipList"
    />
  </app-chips>

  <app-auto #autoComp [control]="control" [options]="options" [selection]="selection"></app-auto>

</app-form-field>

<mat-form-field>
  <mat-label> Custom Form-field </mat-label>
  <app-chip-input [formControl]="control" placeholder="Test" required></app-chip-input>
</mat-form-field>


<mat-form-field (click)="trigger.openPanel()">
  <mat-label>"One-level" structure</mat-label>
  <mat-chip-list #sameLevelChipList>
    <mat-chip *ngFor="let option of selection.selected" [selectable]="false" [removable]="true"
      (removed)="selection.deselect($event.chip.value)">
      {{option.name}}
      <mat-icon matChipRemove> close </mat-icon>
    </mat-chip>

    <input
      #fruitInput
      matInput
      [formControl]="control"
      [matAutocomplete]="sameLevelAuto"
      [matChipInputFor]="sameLevelChipList"
    />
  </mat-chip-list>

  <mat-autocomplete #sameLevelAuto="matAutocomplete" [displayWith]="displayFn"
    (optionSelected)="onOptionSelected($event)">
    <mat-option *ngFor="let option of filteredOptions" [value]="option">
      {{option.name}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>