<mat-chip-list #chipList class="example-input-container" multiple [formControl]="control">
  <mat-chip *ngFor="let option of control.value" [value]="option" [selected]="option" removable color="primary"
    (removed)="deselectOption(option)">
    {{option.name}}
    <mat-icon matChipRemove> close </mat-icon>
  </mat-chip>

  <input #input matInput
    class="example-input-element"
    aria-label="test input"
    [matAutocomplete]="auto"
    [matChipInputFor]="chipList"
    (matChipInputTokenEnd)="selectOption($event)"
    (input)="handleInput($event)"
    (focusin)="onFocusIn($event)"
    (focusout)="onFocusOut($event)"
  />
</mat-chip-list>